# for uv installation add what is in .toml, and run: uv add torch==2.5.1+cu118
# torch==2.5.1          # install with the correct CUDA build, e.g. pip install torch==2.5.1+cu118 -f https://download.pytorch.org/whl/torch_stable.html
numpy==1.24.3
pandas==2.0.2
scikit-learn==1.2.0
tqdm==4.65.0
tensorboard==2.18.0
LTNtorch==1.0.2
